body 
{
   background-image: url("images.jpg");
    background-color: #cccccc;
}
/*-------------------------------------------------------------*/ 
#result
{
position:absolute;
margin-top:28%;
margin-left:42.5%;
background-color:black;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
font-weight:bold;
font-size:20px;
color:white;
width:5%;
text-align:center;
}
/*-----------------------------------------------------------------*/
#two
{
position:absolute;
margin-left:20%;
background-color:black;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
font-weight:bold;
font-size:40px;
color:white;
width:50%;
text-align:center;
}
/*--------------------------------------------------------*/
#three
{
position:absolute;
margin-top:8%;
margin-left:58%;
font-weight:bold;
font-size:20px;
color:white;
width:20%;
text-align:center;
background-color:blue;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}
/*------------------------------------------------------*/
#one
{
position:absolute;
margin-top:25%;
margin-left:35%;
font-weight:bold;
font-size:20px;
color:white;
width:20%;
text-align:center;
background-color:blue;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}

