body 
{
   background-image: url("images.jpg");
    background-color: #cccccc;
} 
/*------------------------------------------------------*/
.words
{
position:absolute;
margin-top:20%;
font-weight:bold;
font-size:100px;
color:white;
width:60%;
text-align:center;
}
/*------------------------------------------------------*/
#two
{
margin-left:20%;
background-color:black;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}
/*------------------------------------------------------*/
#three
{
position:absolute;
margin-top:35%;
margin-left:30%;
font-weight:bold;
font-size:20px;
color:white;
width:20%;
text-align:center;
background-color:blue;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}
/*------------------------------------------------------*/
#four
{
position:absolute;
margin-top:35%;
margin-left:55%;
font-weight:bold;
font-size:20px;
color:white;
width:20%;
text-align:center;
background-color:blue;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}
/*------------------------------------------------------*/
#count
{
position:absolute;
margin-top:2%;
margin-left:2%;
font-weight:bold;
font-size:20px;
color:black;
width:5%;
text-align:center;
background-color:gray;
opacity:0.7;
border: 15px solid white;
border-radius: 50%;
}
/*------------------------------------------------------*/
#score
{
position:absolute;
margin-top:2%;
margin-left:87.5%;
font-weight:bold;
font-size:20px;
color:black;
width:5%;
text-align:center;
background-color:gray;
opacity:0.7;
border: 15px solid white;
border-radius: 50%;
}
/*------------------------------------------------------*/
#five
{
position:absolute;
margin-top:-1%;
margin-left:85%;
font-weight:bold;
font-size:20px;
color:white;
width:10%;
text-align:center;
background-color:orange;
opacity:0.5;
border: 15px solid black;
border-radius: 25px;
}
/*------------------------------------------------------*/
#six
{
position:absolute;
margin-top:-1%;
/*margin-left:55%;*/
font-weight:bold;
font-size:20px;
color:white;
width:10%;
text-align:center;
background-color:orange;
opacity:0.5;
border: 15px solid black;
border-radius: 25px;
}
/*------------------------------------------------------*/
#Gname
{
position:absolute;
margin-left:20%;
background-color:black;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
font-weight:bold;
font-size:40px;
color:white;
width:50%;
text-align:center;
}
/*--------------------------------------------------------*/
#Aname
{
position:absolute;
margin-top:8%;
margin-left:58%;
font-weight:bold;
font-size:20px;
color:white;
width:20%;
text-align:center;
background-color:blue;
opacity:0.5;
border: 15px solid white;
border-radius: 25px;
}
