body 
{
   background-image: url("../images/image2.jpg");
    background-color: #cccccc;
} 
/*----------------------styling the name of the game-----------------------------*/
#Gname
{
position:absolute;
margin-top:1%;
margin-left:25%;
font-weight:bold;
font-size:45px;
color:white;
width:40%;
text-align:center;
background-color:orange;
opacity:0.7;
border: 15px solid white;
border-radius: 25px;
}
/*----------------------------------------------------------------*/
#Aname
{
position:absolute;
margin-top:5%;
margin-left:50%;
font-weight:bold;
font-size:15px;
color:white;
width:20%;
text-align:center;
background-color:black;
opacity:0.7;
border: 15px solid white;
border-radius: 25px;
}
/*----------------------------------------------------------------*/
#language
{
position:absolute;
margin-top:10%;
margin-left:10%;
font-weight:bold;
font-size:45px;
color:white;
width:40%;
text-align:center;
background-color:#FFCC00;
opacity:0.9;
border: 15px solid white;
border-radius: 25px;
}
/*----------------------------------------------------------------*/
#rules
{
position:absolute;
margin-top:10%;
margin-left:50%;
font-weight:bold;
font-size:45px;
color:white;
width:40%;
text-align:center;
background-color:#3300FF;
opacity:0.9;
border: 15px solid white;
border-radius: 25px;
}
/*----------------------------------------------------------------*/
.lang
{
position:absolute;
margin-top:20%;
margin-left:30%;
font-weight:bold;
font-size:45px;
color:white;
width:40%;
text-align:center;
background-color:#black;
opacity:0.6;
border: 15px solid white;
border-radius: 25px;
}
